# Ignore virtual environment
venv/
.env

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Jupyter-related files (if you're not using Jupyter)
etc/jupyter/
share/jupyter/



# Ignore the entire virtual environment
bin/
lib/
include/
share/
etc/
